<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LMS_gen3.Properties.Settings.Connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;F:\New Documents\Projects\LMS_gen3\LMS_gen3\LMS_gen3.mdf&quot;;Integrated Security=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
